//colors
$default-font-color: rgb(32, 35, 41);
$default-color-hover: #9a9caa;
$default-background-color: #E4E4E4;
$white-color: #FFFFFF;
$black-color: #000000;
$grey-color: rgb(60, 62, 68);
$default-hover-color: #1890ff;
$highlight-color: #ffc069;
$border-silver-color: rgba(0, 0, 0, 0.06);
$text-silver-color: #595959;
$background-icon-color: #CCCCCC;
$text-grey-color: rgb(158, 158, 158);
$light-grey-color: rgb(245, 245, 245);
$card-shadow: rgb(0 0 0 / 10%) 0px 4px 6px -1px, rgb(0 0 0 / 6%) 0px 2px 4px -1px;


//sizes
$max-mobile-width: 568px;
